<app-navbar></app-navbar>
<div class="container">
	<div class="row">
		<div class="form-inline">
			<div class="form-group col-sm-12 flex flex-align-center">
				<label for="sel1" class="col-sm-2">Select Facility:</label>
				<div class="col-sm-3">
					<select class="form-control" style="width: 100%;" [(ngModel)]="selectedFacility" sel1>
						<option *ngFor="let facility of facilities" [ngValue]="facility">{{facility.facilityName}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-inline">
			<div class="form-group col-sm-12 flex flex-align-center">
				<label for="mydate" class="col-sm-2">Week Start Date:</label>
				<div class="col-sm-3">
					<my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-picker>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-2 col-sm-offset-2">
				<button (click)="getFacilitySchedule()" type="button" class="btn btn-primary">View Schedule</button>
			</div>
		</div>
	</div>
</div>