<app-navbar></app-navbar>
<div class="container">
	<div class="row">
		<div class="form-inline">
			<div class="form-group col-sm-12 flex flex-align-center">
				<label for="sel1" class="col-sm-2">Select Facility:</label>
				<div class="col-sm-3">
					<select class="form-control" style="width: 100%;" [(ngModel)]="selectedFacility" sel1>
						<option *ngFor="let facility of facilities" [ngValue]="facility">{{facility.facilityName}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-inline">
			<div class="form-group col-sm-12 flex flex-align-center">
				<label for="mydate" class="col-sm-2">Week Start Date:</label>
				<div class="col-sm-3">
					<my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-picker>
				</div>
				<h5 *ngIf="showRequiredWarning" class="col-sm-5" style="color:red">** 'Week Start Date' is required!</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-2 col-sm-offset-2">
				<button *ngIf="!showSchedule" (click)="onSubmit()" type="button" class="btn btn-primary" style="width: 200px">View Schedule</button>
				<button *ngIf="showSchedule" (click)="onSubmit()" type="button" class="btn btn-primary" style="width: 200px">Refresh</button>
			</div>
		</div>
	</div>
	<div *ngIf="showSchedule" class="row">
		<div class="col-sm-12">
			<button type="button" class="btn btn-default col-sm-1 col-sm-offset-11" aria-label="Left Align" (click)="onSave()">
				<span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
			</button>
		</div>
	</div>
	
	<!-- ---------------- SCHEDULE TABLE ------------------- -->

	<div *ngIf="showSchedule" class=row style="margin: 0; margin-top: 20px">
		<app-schedule-table [schedules]="this.schedules"></app-schedule-table>
	</div>

	<!-- ----------- Warning Messages --------------- -->

	<div *ngIf="showSchedule" class="row" style="color: red;">
		<h5 *ngIf="count.monday < 2">** You have {{count.monday}} Anesthesiologist(s) scheduled for Monday</h5>
		<h5 *ngIf="count.tuesday < 2">** You have {{count.tuesday}} Anesthesiologist(s) scheduled for Tuesday</h5>
		<h5 *ngIf="count.wednesday < 2">** You have {{count.wednesday}} Anesthesiologist(s) scheduled for Wednesday</h5>
		<h5 *ngIf="count.thursday < 2">** You have {{count.thursday}} Anesthesiologist(s) scheduled for Thursday</h5>
		<h5 *ngIf="count.friday < 2">** You have {{count.friday}} Anesthesiologist(s) scheduled for Friday</h5>
		<h5 *ngIf="count.saturday < 2">** You have {{count.saturday}} Anesthesiologist(s) scheduled for Saturday</h5>
	</div>
</div>